body {
    margin: 0;
    padding: 0;
    background-color: #8CC461;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#heading-div {
    max-width: 60%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 8px;
}

#heading-div h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 3px;
    font-size: x-large;
}

#heading-div>#heading-left {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#heading-div>#heading-right {
    display: flex;
    text-align: center;
}

#heading-right div {
    width: 6vw;
    min-width: max-content;
    color: #656565;
    font-weight: bold;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

#heading-right div>h1 {
    color: #252525;
    font-weight: 600;
    margin-top: auto;
    font-size: xx-large;
}

#hands {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hands #top-div {
    margin: 60px;
}

#top-div>img {
    margin: auto 70px;
}

.hand {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
    padding: 10px;
    box-shadow: -1px 1px 11px 0px #00000059,
        inset -1px 1px 11px 0px #00000059;
}

#rock {
    border: 10px solid #0074B6;
}

#scissor {
    border: 10px solid #BD00FF;
}

#paper {
    border: 10px solid #FFA943;
}

#hands #st-line {
    border: 5px solid #000000A3;
    transform: rotate(180deg);
    position: absolute;
    width: 180px;
    margin-top: 45px;
    margin-left: 150px;
    z-index: -1;
}

#hands #first-line {
    border: 5px solid #000000A3;
    transform: rotate(-130deg);
    position: absolute;
    width: 180px;
    margin-top: 150px;
    margin-left: 100px;
    z-index: -1;
}

#hands #second-line {
    border: 5px solid #000000A3;
    transform: rotate(130deg);
    position: absolute;
    width: 180px;
    margin-top: 150px;
    margin-left: 190px;
    z-index: -1;
}

#game-rules {
    color: #fff;
    background-color: #004429;
    border: 5px solid #fff;
    border-radius: 8px;
    width: 15vw;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: x-small;
    position: fixed;
    bottom: 60px;
    right: 30px;
}

#game-rules>.cross-btn {
    background-color: #FF0000;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -20px;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
}

#game-rules ul {
    padding-left: 10px;
    margin-top: 0;
}

#game-rules ul li {
    list-style: square;
    margin: 0 10px 10px;
}

#game-rules li::marker {
    color: #FFD600;
}

.btn {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

#rules {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#next {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: none;
}

#result {
    display: none;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 60%;
    margin: 7% auto;
}

#result #user-choice,
#comp-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result p {
    font-size: x-small;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 25px;
    z-index: 10;
}

#result img {
    padding: 25px;
}

.res-hand {
    box-shadow: 0 0 1px 30px #269b28,
        0 0 1px 50px #33a62f,
        0 0 1px 70px #66b148,
        -1px 1px 11px 0px #00000059,
        inset -1px 1px 11px 0px #00000059;
}

#result #result-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    z-index: 18;
}

#result-text h1,
h4 {
    display: block;
    margin: 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.play {
    padding: 10px 25px;
    color: #6B6B6B;
    font-size: x-small;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
}

#win-page {
    background-image: url("./assets/stars.png");
    background-repeat: no-repeat;
    background-position: center 50px;
    text-align: center;
    height: 100vh;
    background-size: 30vw;
    color: #fff;
    display: none;
}

#win-page img {
    width: 12%;
    margin-top: 120px;
}

#win-page h1 {
    margin: 20px auto 0;
    font-size: 70px;
    letter-spacing: 3px;
}

#win-page h4 {
    margin: 0;
    font-size: 30px;
    letter-spacing: 3px;
}

#win-page .play {
    margin: 50px;
}